extends layout

block content
  .index-splash 
    .index-title
      h1 Aramath
      h2 An advance editor for advance math
    .index-examples
      .index-example
      .index-example
      .index-example
